[submodule "external-repositories/bact-archiver"]
	path = external-repositories/bact-archiver
	url = https://github.com/hz-b/bact-archiver.git
[submodule "external-repositories/gtpsa-cpp"]
	path = external-repositories/gtpsa-cpp
	url = https://github.com/hz-b/gtpsa-cpp
[submodule "external-repositories/thor-scsi-lib"]
	path = external-repositories/thor-scsi-lib
	url = https://github.com/hz-b/thor-scsi-lib
[submodule "external-repositories/bact2_bessyii"]
	path = external-repositories/bact2_bessyii
	url = https://github.com/hz-b/bact2_bessyii.git
